/* all animations are grabbed from this file */
/* total animations: 7 */

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.65;
    }
  }
  
  @keyframes fadeOut {
  
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }

  @keyframes boneRotate {
    0% {
     transform: rotate(0deg);
    }
 100% {
    transform: rotate(360deg);
 }
}


@keyframes dreader-gradient {

    to {
     background-position: 200%;
    }
    
    }

    @keyframes expand {
        0% {
          opacity:0.6;
          transform:scale(1);
        }
        100% {
          opacity: 1;
          transform:scale(1.1);
        }
      }
      
      @keyframes expund {
        0% {
          opacity:0.6;
          transform:scale(1);
        }
        100% {
          opacity: 1;
          transform:scale(1.4);
        }
      }


@keyframes porthover
{
    0% {
        transform: scale(1);
    }
    50% {
        
        transform: scale(1.05);
        transform: rotate(3deg);
        
    }
    100% {
        
        transform: rotate(3deg);
        
    }

  }

  @keyframes awareness {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes fadeinout {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 0;
    }
  }

@keyframes shake {


  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }

}

