/*


░░      ░░░       ░░░        ░░       ░░░░      ░░
▒  ▒▒▒▒  ▒▒  ▒▒▒▒  ▒▒  ▒▒▒▒▒▒▒▒  ▒▒▒▒  ▒▒  ▒▒▒▒▒▒▒
▓  ▓▓▓▓▓▓▓▓       ▓▓▓      ▓▓▓▓  ▓▓▓▓  ▓▓▓      ▓▓
█  ████  ██  ███  ███  ████████  ████  ████████  █
██      ███  ████  ██        ██       ████      ██
                                                  
┏     ┏┓
╋┏┓┏┓╋┗┓
┛┗┛┛┗┗┗┛
        
*/

@font-face {
    font-family: 'Oxygene';
    src: url('fonts/oxygene1.ttf') format('truetype');
}
@font-face {
    font-family: 'Stardew';
    src: url('fonts/stardew.ttf') format('truetype');
}
@font-face {        
    font-family: 'Emojis';
    src: url('emoji.ttf') format('truetype');
}
@font-face  {   
    font-family: 'Ipixelu';
    src: url('fonts/i-pixel-u.ttf') format('truetype');
  }
@font-face {
    font-family:'Disco' ;
    src: url('fonts/digitaldisco.ttf');
    
}
@font-face {
    font-family: 'Silkscreen';
    src: url('fonts/silkscreen.ttf') format('truetype');
}
body {  

    position: relative;
    background-image: url("https://wallpaperaccess.com/full/9246833.jpg");
    background-size: 170%;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}
    

    body::before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-size: 200%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: -1;
        
        
    }

    .credits-corsadia {
         position: relative;
         align-items: center;
         justify-content: center;
         display: flex;
       }



.credits-container h1 {
    top: 0;
    z-index: 2;
    font-family: "Stardew"; 
    margin-left: 30px;
}


.totheblog button {

display: flex;
position: absolute;
margin-left: 20px;
margin-top: 20px;
width: 200px;
height: 50px;
padding: 20px;
border-radius: 10px;
background-color: black;
border-image: linear-gradient(to right, #FF6961, #d7ffc2, #B3EBF2) 1;
border-image-slice: 1;

}


#blog  {
 
    color: white;
    font-family: 'Stardew';
    font-size: 30px;
    justify-content: center;
    align-items: center;

    
}


.creds-description 
{

font-family: 'Silkscreen';
margin-left: 20px;
font-size: 17px;

}

.creds-description a 
{
    color: maroon;
    text-decoration: none;
    font-size: 20px;
}

.creds-description img 
{
    color: grey;
    font-size: 20px;
}


.sendemails 
{
    display: flex;
    flex-direction: column;
    width: 150px;
   
}


#send-me h2 
{
    font-family: 'Stardew';
    margin: 10px;
    font-size: 25px;
}

#send-me h3 
{
    font-family: "Stardew";
    font-size: 20px;
    opacity: 0.5;
    margin: 10px;
}



footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    animation: fadeIn 2s;
    font-family: 'Disco';
    opacity: 0.65;

  }
  


    
textarea 

{
    background-color: black;
    scroll-behavior: none;
    width: 500px;
    height: 150px;
    margin-left: 20px;
    resize: none;
    color: white;
    outline: none;
    font-family: 'Stardew';
    border-radius: 10px;
    font-size: 20px;
    text-decoration-color: white;
}
    

textarea:focus {

    border-color: maroon;
    box-shadow: 0 0 5px rgb(207, 36, 122);
}

textarea:hover {

    border-color: maroon;
    box-shadow: 0 0 10px rgb(207, 36, 122);

}


input[type="email"]

{

    max-width:30ch;
    padding: 10px;
    margin-left: 20px;
    width: 400px;
    height: 35px;
    font-size: 20px;
    outline: grey;
    border: grey;
    border-radius: 10px;
    color: white;
    background-color: black;
    transition: border-color 0.3s ease;
    font-family: 'Stardew';
}

input[type="email"]:hover
{
    border-color: maroon;
    box-shadow: 0 0 10px rgb(207, 36, 122);
    
}

input[type="email"]:focus {

       
    border-color: maroon;
    box-shadow: 0 0 5px rgb(207, 36, 122);

}


input[type="submit"]

{

 border-radius: 10px;
 width: 100px;
 height: 50px;
 margin-left: 20px;
 margin-top: 20px;
 color: white;
 background-color: black;
 font-size: 25px;
 align-items: center;
 font-family: "Stardew";
 border: 2px white solid;

}




