/*


░░      ░░░       ░░░        ░░       ░░░░      ░░
▒  ▒▒▒▒  ▒▒  ▒▒▒▒  ▒▒  ▒▒▒▒▒▒▒▒  ▒▒▒▒  ▒▒  ▒▒▒▒▒▒▒
▓  ▓▓▓▓▓▓▓▓       ▓▓▓      ▓▓▓▓  ▓▓▓▓  ▓▓▓      ▓▓
█  ████  ██  ███  ███  ████████  ████  ████████  █
██      ███  ████  ██        ██       ████      ██
                                                  
┏     ┏┓
╋┏┓┏┓╋┗┓
┛┗┛┛┗┗┗┛
        
*/

@font-face {
    font-family: 'Oxygene';
    src: url('fonts/oxygene1.ttf') format('truetype');
}
@font-face {
    font-family: 'Stardew';
    src: url('fonts/stardew.ttf') format('truetype');
}
@font-face {        
    font-family: 'Emojis';
    src: url('emoji.ttf') format('truetype');
}
@font-face  {   
    font-family: 'Ipixelu';
    src: url('fonts/i-pixel-u.ttf') format('truetype');
  }

body {  

    background-image: url("https://wallpaperaccess.com/full/9246833.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-color: black;
    color: white;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    
    }
    

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: -1;
        
    }

    .credits-corsadia {
         position: relative;
         align-items: center;
         justify-content: center;
         display: flex;
       }

.credits-container h1 {
    position: relative;
    top: 0;
    z-index: 1;
    font-family: "Oxygene 1"; 
   margin: 20px;
}

.credits-legacy
{
    position: relative;
    background-size: contain;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: black;
    font-family: "Dear Mr Pazuzu";
    border: white 1px solid;
    border-radius: 10%;
    box-sizing: border-box;
    margin: 10px;
    padding: 6px 10px;
}

.credits-legacy a {
    text-decoration: none;
    color: white;
    padding: 1px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    
}

.creds-description{




    
}


#send-me h2 {
    font-family:'Stardew';
    margin: 10px;
    font-size: 24px;
}

#send-me h3 {
    font-family: "Ipixelu";
    font-size: 16px;
    opacity: 0.5;
    margin: 10px;

}



footer {

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    opacity: 0.4;
    animation: fadeIn 1s;
    font-family: 'Oxygene';

  }
  
  .version {
    opacity: 0.4;
    animation: fadeIn 2s
    }
    
    .copyright {
      opacity: 0.75;
      animation: fadeIn 3s
    }