body {  
    position: relative;
    background-image: url("modern images/darknest.webp");
    background-size: cover;
    background-repeat: repeat;
    background-color: black;
    opacity: 0.9;
    color: white;
    
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    fill-opacity: 0.1;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.999);
        z-index: -1;
        
    }




#bone {
    animation: boneRotate 5s infinite linear;
    display:flex; 
    justify-content: center;
    align-items: center;
    position: fixed;
}


.bone {

    background:transparent;
    border: none;
    
}

.bone:focus {

    background: transparent;
    border: none;
    animation: boneRotate 0.5s infinite ease;
    animation: fadeOut 1s linear 1;
    opacity: 0;
}


#cursor-selection {

    display: flex;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 9px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(600px);
    padding: 50px;
    gap: 20px;
    overflow: hidden;
    visibility: hidden;

}



.idontfuckingcare {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.10);
    font-family: 'Disco';
    height: 45px;
    width: fit-content;
    box-shadow: 0 1px 9px;
    color: white;
    border: rgba(255,255,255, 0.1);
    


}

#cursor-selection a {

 color: white;
 text-decoration: none;

}

#cursor-selection button:not(:first-child){

    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    box-shadow: 0 1px 9px;
    background-color: rgba(255, 255, 255, 0.10);
    border: rgba(255,255,255, 0.1);
    outline: white;
    border-radius: 20px;
    font-family: 'Disco';
    color: white;
    backdrop-filter: blur(200px);
    height: fit-content;
    

}

#cursor-selection button:not(:nth-child(2)) {

    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    color: white;

}












.dreader {

    background: linear-gradient(to right,#3d3d3d, #4d5263, #adadad, #505463, #3d3d3d);
    background-clip: text;
    background-size: 200%;
    animation: dreader-gradient 1s infinite linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: all;

}

.dc2 {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dc3
{
    font-size: 10px;
    display:flex;
    justify-content:center;
    align-items: center;
    opacity: 0.5;

}
.version {
    user-select: none;
}

.disclaimer {
    user-select: none;

}
.disclaimer a {

    text-decoration: none;

}










































@font-face {
    font-family: 'Oxygene';
    src: url('fonts/oxygene1.ttf') format('truetype');
}
@font-face {
    font-family: 'Stardew';
    src: url('fonts/stardew.ttf') format('truetype');
}
@font-face {        
    font-family: 'Emojis';
    src: url('emoji.ttf') format('truetype');
}
@font-face  {   
    font-family: 'Ipixelu';
    src: url('fonts/i-pixel-u.ttf') format('truetype');
  }


@font-face {
    font-family:'Disco' ;
    src: url('fonts/digitaldisco.ttf');
    
}

@font-face {

    font-family:'Digitalism' ;
    src: url('fonts/digitalism.ttf');
    
}
