@font-face {
  font-family: 'Oxygene';
  src: url('fonts/oxygene1.ttf') format('truetype');
}

@font-face {
  font-family: 'Stardew';
  src: url('fonts/stardew.ttf') format('truetype');
}
@font-face {        
  font-family: 'Emojis';
  src: url('emoji.ttf') format('truetype');
}
@font-face  {   
  font-family: 'Ipixelu';
  src: url('fonts/i-pixel-u.ttf') format('truetype');
}

@font-face {
  font-family:'Disco' ;
  src: url('fonts/digitaldisco.ttf') format('truetype'); 
}

@font-face {
  font-family:'Digitalism' ;
  src: url('fonts/digitalism.ttf') format('truetype');   
}

body {  

position: relative;
background-image: url("modern images/darknest.webp");
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
width: 97vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
background-attachment: fixed;


}

body::before {

  content: "";
  position: fixed;
  background-color: rgba(0, 0, 0, 0.88);
  height: 100vh;
  width: 100vw;
  z-index: -1;
  overflow: hidden;


}




/*

┳┓┏┓┳┓┓┏┓┳┓┏┓┏┓┏┳┓
┃┃┣┫┣┫┃┫ ┃┃┣ ┗┓ ┃ 
┻┛┛┗┛┗┛┗┛┛┗┗┛┗┛ ┻ 
                                           
*/

header {
  position: relative;
}

h1 {
  font-size: 20px;
  font-family: 'Disco';
  text-shadow: 0px 0px 10px black;
}

#darknest-header 
{

 position: absolute;
 top: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}

.darknest-main {
  font-family: 'Disco';
  margin-left: 2em;
  position: relative;
  bottom: 0;
  
}

.darknest-main h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: 'Disco';
  text-shadow: 0px 0px 10px black;
}



.corsadia-logo {
  
  position: absolute;
  z-index: 1000;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  display: flex;
  border: none;
  user-select: none;
  top: 0;
  }

.release-date {

display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
font-size: 40px;
font-family: 'Oxygene';


}

#adminform {

  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
  display: none;

}

.navigation

{
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2px;
}

.navigation button {
  justify-content: center;
  display: flex;
  background-color: transparent; 
  border: none;
  text-decoration: none;
  color: white;

} 
.navigation a {
  text-decoration: none;
  color: white;
  font-family: 'Disco';
  font-size: 20px;
  padding: 10px;

}

.navigation p {
  position: relative;
  font-size: 20px;
  font-family: 'Disco';
  text-align: center;
  color: white;
}

#faq  {
position: relative;
display: flex;
flex-direction: column;
background-color: black;
border: 2px solid white;
font-family: 'Disco';
padding: 2em;
bottom: 0;
width: 75vw;
display: none;

}

#faq h4 {
  font-family: 'Disco';
  color: white;
  text-align: center;
  font-size: 40px;

}


.psnote {
  animation: fadeinout 2s infinite linear;
  margin: 0 auto;

}

.portfolio {
  animation: awareness 2s linear forwards;
}

.portfolio:hover {
  animation: expand 2s forwards;
  opacity: 0.65;
} 


.jukebox
{
  display: none;
}

.profile-rd {
  color: gray;

}

.cdia {
  color: white;
  font-family: 'Digitalism';
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

.enter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.enter button {
  border: 2px solid pink;
}
.enter a {
  text-decoration: none;
  color: black;
  font-family: 'Disco';
}

button {
  background-color: transparent;
  border: 2px solid pink;
  padding: 10px;
  font-family: 'Disco';
  font-size: 20px;
  border-radius: 20px;
}

footer 

{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  opacity: 0.65;
  animation: fadeIn 2s;
  flex-direction: column;
  bottom: 0;
}




