@font-face {
  font-family: 'Oxygene';
  src: url('fonts/oxygene1.ttf') format('truetype');
}

body {  

background-image: url("https://wallpaperaccess.com/full/9246833.jpg");
background-size: cover;
background-repeat: repeat;
background-color: black;
color: white;
height: 100vh;
margin: 0;
justify-content: center;
align-items: center;

}


/*

 ███▄ ▄███▓ ▄▄▄       ██▓ ███▄    █ 
▓██▒▀█▀ ██▒▒████▄    ▓██▒ ██ ▀█   █ 
▓██    ▓██░▒██  ▀█▄  ▒██▒▓██  ▀█ ██▒
▒██    ▒██ ░██▄▄▄▄██ ░██░▓██▒  ▐▌██▒
▒██▒   ░██▒ ▓█   ▓██▒░██░▒██░   ▓██░
░ ▒░   ░  ░ ▒▒   ▓▒█░░▓  ░ ▒░   ▒ ▒ 
░  ░      ░  ▒   ▒▒ ░ ▒ ░░ ░░   ░ ▒░
░      ░     ░   ▒    ▒ ░   ░   ░ ░ 
       ░         ░  ░ ░           ░ 
                                    

*/

.corsadia-prototype1 {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: none;
  padding: 10px;
  background-size: contain;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  display: flex;
  }
  

.corsadia-prototype1::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}


.content {

margin-top: 100px;
text-align: center;

}


button {

background-color: white;
text-align: center;
border: none; 
padding: 10px 32px;
text-decoration: wavy;
display: inline-block;
font-size: 16px;
margin: 4px 2px;

}

/*

 ███▄    █  ▄▄▄    ██▒   █▓ ██▓  ▄████  ▄▄▄     ▄▄▄█████▓ ██▓ ▒█████   ███▄    █ 
 ██ ▀█   █ ▒████▄ ▓██░   █▒▓██▒ ██▒ ▀█▒▒████▄   ▓  ██▒ ▓▒▓██▒▒██▒  ██▒ ██ ▀█   █ 
▓██  ▀█ ██▒▒██  ▀█▄▓██  █▒░▒██▒▒██░▄▄▄░▒██  ▀█▄ ▒ ▓██░ ▒░▒██▒▒██░  ██▒▓██  ▀█ ██▒
▓██▒  ▐▌██▒░██▄▄▄▄██▒██ █░░░██░░▓█  ██▓░██▄▄▄▄██░ ▓██▓ ░ ░██░▒██   ██░▓██▒  ▐▌██▒
▒██░   ▓██░ ▓█   ▓██▒▒▀█░  ░██░░▒▓███▀▒ ▓█   ▓██▒ ▒██▒ ░ ░██░░ ████▓▒░▒██░   ▓██░
░ ▒░   ▒ ▒  ▒▒   ▓▒█░░ ▐░  ░▓   ░▒   ▒  ▒▒   ▓▒█░ ▒ ░░   ░▓  ░ ▒░▒░▒░ ░ ▒░   ▒ ▒ 
░ ░░   ░ ▒░  ▒   ▒▒ ░░ ░░   ▒ ░  ░   ░   ▒   ▒▒ ░   ░     ▒ ░  ░ ▒ ▒░ ░ ░░   ░ ▒░
   ░   ░ ░   ░   ▒     ░░   ▒ ░░ ░   ░   ░   ▒    ░       ▒ ░░ ░ ░ ▒     ░   ░ ░ 
         ░       ░  ░   ░   ░        ░       ░  ░         ░      ░ ░           ░ 
                       ░                                                         

*/
.legacy {
  background-color: darkolivegreen;
  padding: 10px 32px;
  text-decoration: none;
}

.legacy a {
  color: white;
  text-decoration: none;
    
}

.brightness
{
  position: absolute;
  top: 20px;
  left: 30px;
  width:200px;
  height:100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 50px;
  justify-content: center;
  align-items: center;
  
}

/*


▄████▄   ██▀███  ▓█████ ▓█████▄  ██▓▄▄▄█████▓  ██████ 
▒██▀ ▀█  ▓██ ▒ ██▒▓█   ▀ ▒██▀ ██▌▓██▒▓  ██▒ ▓▒▒██    ▒ 
▒▓█    ▄ ▓██ ░▄█ ▒▒███   ░██   █▌▒██▒▒ ▓██░ ▒░░ ▓██▄   
▒▓▓▄ ▄██▒▒██▀▀█▄  ▒▓█  ▄ ░▓█▄   ▌░██░░ ▓██▓ ░   ▒   ██▒
▒ ▓███▀ ░░██▓ ▒██▒░▒████▒░▒████▓ ░██░  ▒██▒ ░ ▒██████▒▒
░ ░▒ ▒  ░░ ▒▓ ░▒▓░░░ ▒░ ░ ▒▒▓  ▒ ░▓    ▒ ░░   ▒ ▒▓▒ ▒ ░
  ░  ▒     ░▒ ░ ▒░ ░ ░  ░ ░ ▒  ▒  ▒ ░    ░    ░ ░▒  ░ ░
░          ░░   ░    ░    ░ ░  ░  ▒ ░  ░      ░  ░  ░  
░ ░         ░        ░  ░   ░     ░                 ░  
░                         ░                              


*/
.credits button {
  background-color: black;
  padding: 12px 2px;
  text-decoration: none;
  color: white;
  


}


/*  

 ██▓███   ██▀███   ▒█████    █████▒██▓ ██▓    ▓█████ 
▓██░  ██▒▓██ ▒ ██▒▒██▒  ██▒▓██   ▒▓██▒▓██▒    ▓█   ▀ 
▓██░ ██▓▒▓██ ░▄█ ▒▒██░  ██▒▒████ ░▒██▒▒██░    ▒███   
▒██▄█▓▒ ▒▒██▀▀█▄  ▒██   ██░░▓█▒  ░░██░▒██░    ▒▓█  ▄ 
▒██▒ ░  ░░██▓ ▒██▒░ ████▓▒░░▒█░   ░██░░██████▒░▒████▒
▒▓▒░ ░  ░░ ▒▓ ░▒▓░░ ▒░▒░▒░  ▒ ░   ░▓  ░ ▒░▓  ░░░ ▒░ ░
░▒ ░       ░▒ ░ ▒░  ░ ▒ ▒░  ░      ▒ ░░ ░ ▒  ░ ░ ░  ░
░░         ░░   ░ ░ ░ ░ ▒   ░ ░    ▒ ░  ░ ░      ░   
            ░         ░ ░          ░      ░  ░   ░  ░
                                                     

*/

.korsadia {
  transform: translateX(-50%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 50%;
  border: white 5px solid;

}

.korsadia-pfp
{
 
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  
 
}

.korsadia-pfp img {
  display: flex; 
  border: white;
  background-size: contain
}

.korsadia-bio h1 {
  font-family: 'Oxygene';
  font-size: 50px;
  color: white;
  text-align: center;
  padding: 0px;
  margin: -15px;

}


.social-media
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.spotifybutton {
  
  background-color: transparent;
  padding: 10px 3px;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center; 

}
.spotifybutton img {
  width: 20px;
  height: 20px; 
}



.scbutton {
  background-color: transparent;
  padding: 10px 3px;
  color: white;
  text-decoration: none;
}

.scbutton img {

  width: 20px;
  height: 20px;

}

.tumblrbutton {
  background-color: transparent;
  padding: 10px 3px;
  color: white;
  text-decoration: none;
}

.tumblrbutton img {
  width: 10px;
  height: 20px;
}


.igbutton {
  background-color: transparent;
  padding: 10px 3px;
  color: white;
  text-decoration: none;
  background-size: contain;
  
}

.igbutton img {
  width: 20px;
  height: 20px;

}

.audioplayer {
  overflow: hidden; 
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
 
}


/* 

  ██████  ██░ ██  ▒█████   ██▓███  
▒██    ▒ ▓██░ ██▒▒██▒  ██▒▓██░  ██▒
░ ▓██▄   ▒██▀▀██░▒██░  ██▒▓██░ ██▓▒
  ▒   ██▒░▓█ ░██ ▒██   ██░▒██▄█▓▒ ▒
▒██████▒▒░▓█▒░██▓░ ████▓▒░▒██▒ ░  ░
▒ ▒▓▒ ▒ ░ ▒ ░░▒░▒░ ▒░▒░▒░ ▒▓▒░ ░  ░
░ ░▒  ░ ░ ▒ ░▒░ ░  ░ ▒ ▒░ ░▒ ░     
░  ░  ░   ░  ░░ ░░ ░ ░ ▒  ░░       
      ░   ░  ░  ░    ░ ░           
                               
*/

.shop a {
  color: white;
  text-decoration: none;
}

.shop
{
  background-color: transparent;
  padding: 10px 32px;
  text-decoration: none;
  
}

.depop {
  background-color: darkred;     
  padding: 10px 32px;
  }
  
  .depop a {
    text-decoration: none;
    color: black;
  
  }
  .mercari {
  background-color: #5558da;
  padding: 10px 32px;
  color: white;
  }
  
  .mercari a {
    text-decoration: none;
    color: white;
  }   


footer {
  size: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  opacity: 0.75;
  animation: fadeIn 1s;
}



/* 

 ▄▄▄       ███▄    █  ██▓ ███▄ ▄███▓  ██████ 
▒████▄     ██ ▀█   █ ▓██▒▓██▒▀█▀ ██▒▒██    ▒ 
▒██  ▀█▄  ▓██  ▀█ ██▒▒██▒▓██    ▓██░░ ▓██▄   
░██▄▄▄▄██ ▓██▒  ▐▌██▒░██░▒██    ▒██   ▒   ██▒
 ▓█   ▓██▒▒██░   ▓██░░██░▒██▒   ░██▒▒██████▒▒
 ▒▒   ▓▒█░░ ▒░   ▒ ▒ ░▓  ░ ▒░   ░  ░▒ ▒▓▒ ▒ ░
  ▒   ▒▒ ░░ ░░   ░ ▒░ ▒ ░░  ░      ░░ ░▒  ░ ░
  ░   ▒      ░   ░ ░  ▒ ░░      ░   ░  ░  ░  
      ░  ░         ░  ░         ░         ░  

*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}

