body {
    position: relative;
    background-image: url('modern images/mojaai2.png');
    color: white;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.88); /* Semi-transparent overlay */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure the image is behind other content */
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Disco';
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-changer-button {
    position: relative;
    width: 3.25rem;
    height: 3.25rem;
    background-color: rgb(43, 43, 43);
    border-radius: 0.7rem;
    border: transparent 2px solid;

   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 2rem;
}
.page-changer-button::after {
    content: '';
    position: absolute;
   
    width: 3.50rem;
    height: 3.50rem;
    background-image: url('modern images/pastelrainbow.avif');
    background-size: cover; 
    z-index: -1; 
    border-radius: 0.7rem;
}

.page-changer-button a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Disco';   
}

.page-changer-button button {
    
}

.page-changer-button:hover {
    animation: expand 0.5s linear;
   
}

#local-time {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-family: 'Disco';
    font-size: 20px;
    z-index: 1; /* Ensure the time is above other content */
    animation: wiggle 1s infinite alternate;
}


.daidarkgifgrid {

    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    gap: 10px;
    border: 2px solid;
    left: 15%;
}

.blog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid pink;
    left: 30%;
    width: fit-content
}

.blogs  {

    display: flex;
    flex-direction: column;
    justify-content: center;
}


#moja-updater
{   position: absolute;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    right: 0;
    width:

}