
body {
    
    position: relative;
    background-color: lightcoral;
    color: white;
    height: 93vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-behavior: smooth;
    background-attachment: fixed;
  }

.entry-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);

    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 1.5em;
}



#submit {

 border-radius: 1em;
 color: pink;
 background-color: rgba(65, 25, 0, 0.884);
 font-family: 'sile';
 border: none;


}
#submit:hover {
    background-color: rgba(238, 117, 177, 0.5);
    box-shadow: 0 0 5px rgb(255, 105, 180, 0.5);
}

.goback-button {
    border-color: rgba(65, 25, 0, 0.884);
    border-radius: 10px;
    box-shadow: rgba(65, 25, 0, 0.3);
}

.showpass {
    color: pink;
    font-family: 'Ellis';
    left: 2em;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    font-size: 18px;
}

.showpass:hover {
    animation: wiggle 0.5s forwards;
    
}


.goback a {

    text-decoration: none;
    color: brown;
    font-size: 16px;
    border-color: rgba(65, 25, 0, 0.884);
    font-family: 'Silkscreen';


}

.ps-entry {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Silkscreen';
    font-size: 10px;
    opacity: 0;
    user-select: none;
   
}

.ps-entry:hover {
    animation: fadeIn 0.5s forwards;
}
.ps-entry:focus {
   opacity: 0.65;
}

input[type=password]::placeholder {
    color: pink;
    font-style: italic;
    font-size: 20px;
    margin-left: 10px;
}

input[type=password]:focus {
    outline: none;
    border-color: #ff69b4;
    box-shadow: 0 0 5px #ff69b4;
}

input[type=password]:hover {
    
    border-color: rgba(238, 117, 177, 0.5);
    box-shadow: 0 0 5px rgb(255, 105, 180, 0.5);

}
input[type=password] {

    background-color: rgba(65, 25, 0, 0.884);
    border: 2px solid rgba(65, 25, 0, 0.884);;
    border-radius: 1ex;
    width: 200px;
    height: 30px;
    font-family: 'Sile';

}



.bonez {

    display: flex; 
    flex-direction: column;
    user-select: none;
}


.bonebelt1 {

    position: absolute;
    left: 0;


}



.bonebelt2 {
    position: absolute;
    right: 0;

}

