/*

┏┓┓┏┏┓┏┓
┗┓┣┫┃┃┃┃
┗┛┛┗┗┛┣┛
        

*/

.shop-logo {
  position: absolute;
  top: 0;
  translate: -50%;
margin-top: 20px;

}

.misetani {
  z-index: -1;
  position: absolute;
  animation: misetaniIdle 1s infinite; 
  opacity: 0.55;
  user-select: none;
}


.shop-buttons {

    background-color: transparent;
    display: flex;

}
.depop {

  background: transparent;
  border-radius: 20px;

}

.mercari {

  background: transparent;
  border-radius: 20px;

}

.shop-buttons {

  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 40px;
  gap: 20px;
  padding: 20px;

}
.shop-buttons button { 

    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    top: 10;

}
  
.shop-logo img {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}



.bonenav {
  position: absolute;
  display: flex;
  padding: 10px;
  margin-left: 10px;
  border: 2px rgba(250, 250, 250, 0.1) solid;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  color: white;
  backdrop-filter: blur(10px);
  opacity: 0.6;
  user-select: none;
  left: 0;
  justify-content: center;
  border-image: linear-gradient(to right,#3d3d3d, #4d5263, #adadad, #505463, #3d3d3d);
  border-image-slice: 1;
  border-radius: 10px;
  animation: nav-gradient 5s linear infinite;


}
  
.bonenav:hover {
  animation: bonefocus 0.5s 1 forwards;
  user-select: all;

}
.bonenav:active {
  user-select: all;
  opacity: 1;
  transform:scale(1.1);
}

nav {

position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
padding: 10px;
border-radius: 20%;
top: 35%;


}

nav button {
  background-color: transparent;
  border: none;

}







@keyframes bonefocus {
  0% {
    opacity:0.6;
    transform:scale(1);
  }
  100% {
    opacity: 1;
    transform:scale(1.1);
  }
}


@keyframes nav-gradient {
  to  {
       background-position: 200%;
   }
  }
  
@keyframes misetaniIdle {
  0% {
    margin-top: 10px;
  }
 50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 10px;
  }
}