body {background-color: #33401c;
     text-align: center;}
h1 {color: black; 
font-family: Dear Mr Pazuzu; 
font-size: 80px;
   text-align: center;}
p {color: black;
font-family: Helvetica;
font-size: 20px;
  text-align: center;}
a {color: lightgoldenrodyellow;}
