body {
    position: relative;
    background-color: black;
    text-align: center;
    min-height: 100vh;






}

nav button {
    border: 2px solid #ccc;




}
nav button a {
    color: #333;
    text-decoration: none;
}


aside {
    position: absolute;
    color: white;
    top: 0;
    transform: translateY(50%);
    margin-left: 10em;

}


.main-blog {
    position: absolute;
    top: 10%;
    border: 2px solid white;
    color: white;
}